<a href="https://colab.research.google.com/github/PragnaDevara/Pragna-python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# markboard
## markboard
**points**
*points*
***points***

In [3]:
print("hello world!")

hello world!

In [4]:
print("hello")

hello

In [0]:
# variable

In [5]:
print("hello","//
")

SyntaxError: ignored

In [8]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [11]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [12]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
# length
 a = 123456
 print(len(str(a)))

6

reading input from input information

In [17]:
a = input("enter u name  : ")
print(a)
print(type (a))

enter u name  : hyd
hyd
<class 'str'>

In [0]:
hyd

In [18]:
B = int(input("enter ur age  : "))
print(B)
print(type(B))

enter ur age  : 21
21
<class 'int'>

# operator
## operator is a symbol used to perform a specific kind of operations

### arthimetic operations

+
-
*
/

In [19]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
123
8187505353567209228244052427776

# relational operator
* =
* ==
* !=
* <=
* <
*

In [21]:
x = 10
a1 = x>15
print(a1)

False

# logical operators
* and
* or
* not

In [23]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# control flow statements
* conditional statements
* looping statements

# if * else statements
## syntax
# if boolean_condition
# statements
# else

In [29]:
# to check given is even or odd
n = int(input("enter a number"))
if n%2 == 0:
 print(n,"is even number")
else:
 print(n,"is odd number")

enter a number11
11 is odd number

In [44]:
# to check given is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
 print(n,"is perfectly multiple of 3 and 5")
else:
 print(n,"is not perfectly multiple of 3and 5")

enter a number15
15 is perfectly multiple of 3 and 5

In [56]:
# given number is id +ve -ve or zero
n = int(input("enter a number"))
if n>0 == 0:
 print(n,"is a positive number")
elif n<0 == 0:
 print(n,"is a negative number")
else:
 print(n,"is a zero")

enter a number12
12 is a positive number

In [57]:
# to check given number is a leap year
n = int(input("enter a value"))
if n%4 == 0 and n%100 and n%400:
  print(n,"is a leap year")
else:
  print(n,"is not a leap year")

enter a value2023
2023 is not a leap year

In [0]:
2023